html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  color: whitesmoke;
}

.calculator {
  margin: auto;
  /* border: solid red; */
  width: 16vw;
  height: 40vh;
  border-radius: 25px;
  background-color: black;
  font-family: 'Roboto',
    sans-serif;
}

.equation {
  /* border: solid purple; */
  height: 8vh;
  background-color: #181818;
  /* border: 0.1px solid black; */
  outline: 0.1px solid black;
  font-size: 2.3em;
  text-align: right;
  padding-right: .5em;
  padding-bottom: .1em;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: -1px;
  position: relative;
}

.equation .exit-menu {
  position: absolute;
  display: flex;
  width: 1.1em;
  height: .5em;
  margin-top: 3px;
  margin-left: 5px;
  ;
  /* justify-content: center;
  align-items: center; */
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  /* border: solid pink; */
}

.equation .exit-menu .dots {
  width: 3px;
  height: 3px;
  border: solid RGB(58, 58, 60);
  background-color: RGB(58, 58, 60);
  border-radius: 50%;
}

.output {
  /* border: solid pink; */
  height: 8vh;
  background-color: #181818;
  /* border-left: 0.1px solid black;
  border-right: 0.1px solid black; */
  /* outline: 0.1px solid black; */
  font-size: 2.5em;
  text-align: right;
  padding-right: .5em;
  padding-bottom: .1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.keypad {
  color: #d4d4d2;
  display: grid;
  margin-top: -1;
}

.keypad button {
  width: 4vw;
  height: 6vh;
  color: #d4d4d2;
  outline: 0.01em solid black;
  border: none;
  font-size: 1em;
}

.keypad button.number.zero {
  width: 8vw;
  text-align: left;
  font-size: 1em;
  padding-left: 1.3em;
  border-radius: 0px 0px 0px 5px;
}

.keypad button.operator.equals {
  border-radius: 0px 0px 5px 0px;
}

/* .keypad .row-one button {
  border-left: 0.1px solid black;
  border-right: 0.1px solid black;
  border-bottom: 0.1px solid black;
  border-top: 0px solid black;
} */

.top-dark {
  background-color: RGB(58, 58, 60);
}

.top-dark:active {
  background-color: RGB(99, 99, 102);
}

.number {
  background-color: RGB(99, 99, 102);
}

.number:active {
  background-color: RGB(174, 174, 178);
}

.operator {
  background-color: RGB(255, 149, 0);
}